@page "/"
@page "/master_view"
@using WASM_Forms_POC.Services
@using Models.NorthwindCRUD
@inject INorthwindCRUDService NorthwindCRUDService
@inject NavigationManager Navigation

<div class="row-layout master-view-container">
    <IgbButton @onclick='() => Navigation.NavigateTo("native_inputs")'>
        Go Native
    </IgbButton>
    <EditForm EditContext="customerEditContext" OnValidSubmit="SubmitCustomerModel" FormName="customer" class="form" master_view-scope>
        <p>Edit form pointing to existing variable with @customer?.CustomerId</p>
        <p>Cloned variable with id @customerModel.CustomerId</p>
        <p>Update edit context with id @((customerEditContext.Model as CustomerDto).CustomerId)</p>
        <IgbInput DisplayType="InputType.Text" Required="true" @bind-Value="customerModel.CustomerId" Label="customerId"></IgbInput>
        <IgbInput DisplayType="InputType.Text" Required="true" @bind-Value="customerModel.CompanyName" Label="companyName"></IgbInput>
        <IgbInput DisplayType="InputType.Text" Required="true" @bind-Value="customerModel.ContactName" Label="contactName"></IgbInput>
        <IgbInput DisplayType="InputType.Text" Required="true" @bind-Value="customerModel.ContactTitle" Label="contactTitle"></IgbInput>
        <IgbInput DisplayType="InputType.Text" Required="true" @bind-Value="customerModel.Address.Street" Label="address.street"></IgbInput>
        <IgbInput DisplayType="InputType.Text" Required="true" @bind-Value="customerModel.Address.City" Label="address.city"></IgbInput>
        <IgbInput DisplayType="InputType.Text" Required="true" @bind-Value="customerModel.Address.Region" Label="address.region"></IgbInput>
        <IgbInput DisplayType="InputType.Text" Required="true" @bind-Value="customerModel.Address.PostalCode" Label="address.postalCode"></IgbInput>
        <IgbInput DisplayType="InputType.Text" Required="true" @bind-Value="customerModel.Address.Country" Label="address.country"></IgbInput>
        <IgbInput DisplayType="InputType.Text" Required="true" @bind-Value="customerModel.Address.Phone" Label="address.phone"></IgbInput>
        <IgbButton Variant="ButtonVariant.Contained" DisplayType="ButtonBaseType.Submit">
            Update
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Contained" DisplayType="ButtonBaseType.Reset" @onclick="ResetCustomerModel">
            Reset
        </IgbButton>
    </EditForm>
    <EditForm OnValidSubmit="SubmitEmptyModel" EditContext="emptyEditContext" FormName="empty" class="form" master_view-scope>
        <p>Create form not related to any variable</p>
        <p>Created customer has id @(emptyModel.CustomerId ?? "NONE")</p>
        <p>Create edit context with id @((emptyEditContext.Model as CustomerDto).CustomerId)</p>
        <IgbInput DisplayType="InputType.Text" @bind-Value="emptyModel.CustomerId" Label="customerId"></IgbInput>
        <IgbInput DisplayType="InputType.Text" @bind-Value="emptyModel.CompanyName" Label="companyName"></IgbInput>
        <IgbInput DisplayType="InputType.Text" @bind-Value="emptyModel.ContactName" Label="contactName"></IgbInput>
        <IgbInput DisplayType="InputType.Text" @bind-Value="emptyModel.ContactTitle" Label="contactTitle"></IgbInput>
        <IgbInput DisplayType="InputType.Text" @bind-Value="emptyModel.Address.Street" Label="address.street"></IgbInput>
        <IgbInput DisplayType="InputType.Text" @bind-Value="emptyModel.Address.City" Label="address.city"></IgbInput>
        <IgbInput DisplayType="InputType.Text" @bind-Value="emptyModel.Address.Region" Label="address.region"></IgbInput>
        <IgbInput DisplayType="InputType.Text" @bind-Value="emptyModel.Address.PostalCode" Label="address.postalCode"></IgbInput>
        <IgbInput DisplayType="InputType.Text" @bind-Value="emptyModel.Address.Country" Label="address.country"></IgbInput>
        <IgbInput DisplayType="InputType.Text" @bind-Value="emptyModel.Address.Phone" Label="address.phone"></IgbInput>
        <IgbButton Variant="ButtonVariant.Contained" DisplayType="ButtonBaseType.Submit">
            Create
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Contained" DisplayType="ButtonBaseType.Reset" @onclick="ResetEmptyModel">
            Reset
        </IgbButton>
    </EditForm>
</div>

@code {
    private CustomerDto customer;
    // we do not need this. We have either empty form where no value should be supplied,
    // or we have form bound to a variable and we get the value from the clone of the variable
    // TODO: we could also skip generating of FormNames for the forms
    // [SupplyParameterFromForm(FormName = "customer")]
    private CustomerDto customerModel = new();
    private EditContext customerEditContext = new(new CustomerDto());

    // [SupplyParameterFromForm(FormName = "empty")]
    private CustomerDto emptyModel = new();
    private EditContext emptyEditContext = new(new CustomerDto());

    protected override async Task OnInitializedAsync()
    {
        customer = await NorthwindCRUDService.GetCustomerDto("QUEEN");
        customerModel = customer.Clone() as CustomerDto;
        customerEditContext = new(customerModel);

        emptyEditContext = new(emptyModel);

        await base.OnInitializedAsync();
    }

    private async void SubmitCustomerModel(EditContext e)
    {
        var customerDto = (CustomerDto)e.Model;
        if (customerDto != null)
        {
            var result = await NorthwindCRUDService.PutCustomerDto(customerDto);
            if (result != null)
            {
                customer.CustomerId = result.CustomerId;
                StateHasChanged();
            }
            else
            {
                // TODO: handle errors here.
            }
        }
    }

    private async void SubmitEmptyModel(EditContext e)
    {
        var customerDto = (CustomerDto)e.Model;
        if (customerDto != null)
        {
            var result = await NorthwindCRUDService.PostCustomerDto(customerDto);
            if (result != null)
            {
                emptyModel.CustomerId = result.CustomerId;
                StateHasChanged();
            }
            else
            {
                // TODO: handle errors here.
            }
        }
    }

    private void ResetCustomerModel()
    {
        customerModel = customer.Clone() as CustomerDto;
        customerEditContext = new(customerModel);
    }

    private void ResetEmptyModel()
    {
        emptyModel = new();
        emptyEditContext = new(emptyModel);
    }
}
